<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有食品列表</title>
    <style>
        table { border-collapse: collapse; margin: auto; }
        th, td { border: 1px solid #333; padding: 8px 15px; text-align: center; }
        th { background-color: #4CAF50; color: white; }
        tr:nth-child(even) { background-color: #f2f2f2; }
    </style>
</head>
<body bgcolor="#e0ffff">
<br>
<div style="text-align: center">
    <h3>所有食品列表</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>类型</th>
            <th>状态</th>
            <th>价格</th>
            <th>库存量</th>
        </tr>
        <tr th:each="food : ${foodlist}">
            <td th:text="${food.id}"></td>
            <td th:text="${food.name}"></td>
            <td th:text="${food.type}"></td>
            <td th:text="${food.state}"></td>
            <td th:text="${food.price}"></td>
            <td th:text="${food.quantity}"></td>
        </tr>
    </table>
</div>
</body>
</html>
