<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除食品</title>
</head>
<body bgcolor="#e0ffff">
<br>
<div style="text-align: center">
    <h3>删除食品</h3>
    <form action="/delform" method="post">
        <table style="text-align: center;margin: auto">
            <tr><td>食品ID：</td><td><input type="text" name="id"></td></tr>
        </table>
        <br>
        <input type="submit" value="删除">&nbsp;&nbsp;
    </form>
</div>
</body>
</html>
