<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .mydiv {
            margin: auto;
            width: 350px;
            text-align: left;
        }
    </style>
    <title>Food信息管理系统</title>
</head>
<body bgcolor="#e0ffff">
<br>
<div style="text-align: center">
    <h4 style="display: inline">查询的ID为：&nbsp;</h4><span th:text="${id}"></span>
    <h3>您好，欢迎使用FOOD信息管理系统</h3>
    <div th:text="'查询的结果如下'" class="mydiv" style="height: 30px"></div>
    <div th:text="'编号：'+${id}" class="mydiv"></div>
    <div th:text="'名称：'+${name}" class="mydiv"></div>
    <div th:text="'类型：'+${type}" class="mydiv"></div>
    <div th:text="'状态：'+${state}" class="mydiv"></div>
    <div th:text="'价格：'+${price}" class="mydiv"></div>
    <div th:text="'库存量：'+${quantity}" class="mydiv"></div>
</div>
</body>
</html>
